{% for hr in hour_list %}
    <tr>
        <td>{{ hr.strftime("%H:%M %p") }}</td>
        {% for sys,res in matrix[hr] %}
            {% if res == None %}
                <td>
                    <a href="{{ url_for('reserve', system = sys.id, start_time = hr.strftime("%H"), hours = 0) }}">1</a>
                    <a href="{{ url_for('reserve', system = sys.id, start_time = hr.strftime("%H"), hours = 1) }}">2</a>
                    <a href="{{ url_for('reserve', system = sys.id, start_time = hr.strftime("%H"), hours = 2) }}">3</a>
                </td>
            {% else %}
                <td>{{ res }}</td>
            {% endif %}
        {% endfor %}
        <td>{{ hr.strftime("%H:%M %p") }}</td>
    </tr>
{% endfor %}
